<head>
    <title>myMonay</title>
</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">myMonay</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse pull-right">
            <div style="padding-top: 10px">
                {{> loginButtons}}
            </div>

        </div><!--/.nav-collapse -->

    </div>
</nav>
<!--Main container-->
<div class="container">
    {{#if currentUser}}
    <div class="row">
        <div id="chart">{{createChart}}</div>
    </div>
    <div class="row">
        {{> addInModal}}
        {{> addOutModal}}
    </div>
    <div class="row">
        <h3>Latest transactions</h3>
        <ul class="list-group">
            {{#each transactions}}
            {{> transaction}}
            {{/each}}
        </ul>

    </div>
    {{else}}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>myMonay -  transaction history</h1>
        <p>An example of a program for simple input of money expenses</p>

    </div>
    {{/if}}

</div> <!-- /container -->

</body>

<template name="addInModal">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modelAddIn">
        Add input transaction
    </button>
    <!-- Modal -->
    <div class="modal fade" id="modelAddIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Input transactions</h4>
                </div>
                <div class="modal-body">
                    <form class="add-form-in">
                        <div class="form-group">
                            <label for="inp-add-in-transaction-sum">Sum</label>
                            <input type="number" name="sum" class="form-control" id="inp-add-in-transaction-sum"
                                   placeholder="Plese input sum">
                        </div>
                        <div class="form-group">
                            <label for="inp-add-in-transaction-note">Note</label>
                            <input type="text" name="note" class="form-control" id="inp-add-in-transaction-note"
                                   placeholder="Please input note">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="addOutModal">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modelAddOut">
        Add outgoing transaction
    </button>
    <!-- Modal -->
    <div class="modal fade" id="modelAddOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelOut">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form class="add-form-out">
                        <div class="form-group">
                            <label for="inp-add-in-transaction-sum">Sum</label>
                            <input type="number" name="sum" class="form-control" id="inp-add-in-transaction-sum"
                                   placeholder="Plese input sum">
                        </div>
                        <div class="form-group">
                            <label for="inp-add-in-transaction-note">Note</label>
                            <input type="text" name="note" class="form-control" id="inp-add-in-transaction-note"
                                   placeholder="Please input note">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="transaction">
    {{#if typeIs 'in'}}
    <li class="list-group-item list-group-item-success"> {{formatDate createdAt}} - <strong>{{sum}}$</strong> :::
        {{note}}
    </li>
    {{else}}
    <li class="list-group-item list-group-item-danger">{{formatDate createdAt}} - <strong>{{sum}}$</strong> ::: {{note}}</li>
    {{/if}}
</template>